@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
:root{
    --text-color:#FFFFFF;
    --icon-color:#ACACBE;
    --icon-hover-bg:#5b4e71;
    --place-holder-color:#cccccc;
    --outgoing-chat-bg:#343541;
    --incoming-chat-bg:#444654;
    --outgoing-chat-border:#343541;
    --incoming-chat-border:#444654;
    --display-color:white;
}
.light-mode{
    --text-color:white;
    --icon-color:#a9a9bc;
    --icon-hover-bg:#f1f1f3;
    --placeholder-color:#9f9f9f;
    --outgoing-chat-bg:#FFFFFF;
    --incoming-chat-bg:#F7F7F8;
    --outgoing-chat-border:#FFFFFF;
    --incoming-chat-border:#D9D9E3;
    --display-color:white;
  }

body{
    background: skyblue;
}
#i1{
  background: var(--outgoing-chat-bg);
  margin-top: 15%;
  margin-left: 35%;
  width: 500px;
  height: 300px;
  padding: 10px;
  border: 5px solid crimson;
}
.typing-controls{
  margin-top: 7%;
  width: inherit;
  height: 50px;

  padding-top: 20px;
  border: 2px solid skyblue;
}
#theme-btn{
  margin: 0;
  position: absolute;
 
  margin-left: 10%;
}
.container {
    max-width: 500px;
    margin: 50px auto;
  }

  .display {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 30px;
  }

  .btn-container {
    display: flex;
    justify-content: center;
  }

  .btn-container button {
    margin: 0 5px;
  }